---
swagger: "2.0"
info:
  description: "Kubermatic API\n\nThis describes possible operations which can be\
    \ made against the Kubermatic API."
  version: "2.2.3"
  title: "Kubermatic API."
  termsOfService: "there are no TOS at this moment, use at your own risk we take no\
    \ responsibility"
host: "cloud.kubermatic.io"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /api/v1/azure/sizes:
    get:
      tags:
      - "azure"
      description: "Lists available VM sizes in an Azure region"
      operationId: "listAzureSizes"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "AzureSizeList"
          schema:
            $ref: "#/definitions/AzureSizeList"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/dc:
    get:
      tags:
      - "datacenter"
      operationId: "listDatacenters"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "DatacenterList"
          schema:
            $ref: "#/definitions/DatacenterList"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/dc/{dc}:
    get:
      tags:
      - "datacenter"
      operationId: "getDatacenter"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      responses:
        200:
          description: "Datacenter"
          schema:
            $ref: "#/definitions/Datacenter"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/digitalocean/sizes:
    get:
      tags:
      - "digitalocean"
      description: "Lists sizes from digitalocean"
      operationId: "listDigitaloceanSizes"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "DigitaloceanSizeList"
          schema:
            $ref: "#/definitions/DigitaloceanSizeList"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/healthz:
    get:
      description: "Health endpoint"
      operationId: "healthz"
      parameters: []
      responses:
        default:
          description: "EmptyResponse is a empty response"
  /api/v1/me:
    get:
      tags:
      - "users"
      summary: "Returns information about the current user."
      operationId: "getCurrentUser"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "User"
          schema:
            $ref: "#/definitions/User"
        401:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/openstack/networks:
    get:
      tags:
      - "openstack"
      description: "Lists networks from openstack"
      operationId: "listOpenstackNetworks"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OpenstackNetwork"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OpenstackNetwork"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/openstack/securitygroups:
    get:
      tags:
      - "openstack"
      description: "Lists security groups from openstack"
      operationId: "listOpenstackSecurityGroups"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OpenstackSecurityGroup"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OpenstackSecurityGroup"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/openstack/sizes:
    get:
      tags:
      - "openstack"
      description: "Lists sizes from openstack"
      operationId: "listOpenstackSizes"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OpenstackSize"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OpenstackSize"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/openstack/subnets:
    get:
      tags:
      - "openstack"
      description: "Lists subnets from openstack"
      operationId: "listOpenstackSubnets"
      produces:
      - "application/json"
      parameters:
      - name: "Username"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Username"
      - name: "Password"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Password"
      - name: "Domain"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Domain"
      - name: "Tenant"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Tenant"
      - name: "DatacenterName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "DatacenterName"
      - name: "NetworkID"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "NetworkID"
      responses:
        200:
          description: "OpenstackSubnet"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OpenstackSubnet"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/openstack/tenants:
    get:
      tags:
      - "openstack"
      description: "Lists tenants from openstack"
      operationId: "listOpenstackTenants"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OpenstackTenant"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OpenstackTenant"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/project/{project_id}/dc/{dc}/clusters/{cluster_name}:
    delete:
      tags:
      - "project"
      description: "Deletes the specified cluster"
      operationId: "newDeleteCluster"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/project/{project_id}/dc/{dc}/clusters/{cluster_name}/health:
    get:
      tags:
      - "project"
      description: "Returns the cluster's component health status"
      operationId: "newGetClusterHealth"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "ClusterHealth"
          schema:
            $ref: "#/definitions/ClusterHealth"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects:
    get:
      tags:
      - "project"
      summary: "Lists projects that an authenticated user is a member of."
      operationId: "listProjects"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Project"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Project"
        401:
          description: "EmptyResponse is a empty response"
        409:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    post:
      tags:
      - "project"
      summary: "Creates a brand new project."
      description: "Note that this endpoint can be consumed by every authenticated\
        \ user."
      operationId: "createProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        201:
          description: "Project"
          schema:
            $ref: "#/definitions/Project"
        401:
          description: "EmptyResponse is a empty response"
        409:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}:
    get:
      tags:
      - "project"
      description: "Gets the project with the given ID"
      operationId: "getProject"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "ProjectId"
      responses:
        200:
          description: "Project"
          schema:
            $ref: "#/definitions/Project"
        401:
          description: "EmptyResponse is a empty response"
        409:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    put:
      tags:
      - "project"
      description: "Updates the given project"
      operationId: "updateProject"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "ProjectId"
      responses:
        501:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    delete:
      tags:
      - "project"
      summary: "Deletes the project with the given ID."
      operationId: "deleteProject"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters:
    get:
      tags:
      - "project"
      summary: "Lists clusters for the specified project."
      operationId: "newListClusters"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      responses:
        200:
          description: "ClusterList"
          schema:
            $ref: "#/definitions/ClusterList"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    post:
      tags:
      - "project"
      summary: "Creates a cluster for the given project."
      operationId: "newCreateCluster"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - in: "body"
        name: "Body"
        required: false
        schema:
          $ref: "#/definitions/Cluster"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Cluster"
          schema:
            $ref: "#/definitions/Cluster"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}:
    get:
      tags:
      - "project"
      description: "Gets the cluster with the given name"
      operationId: "newGetCluster"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "Cluster"
          schema:
            $ref: "#/definitions/Cluster"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    put:
      tags:
      - "project"
      summary: "Updates the given cluster."
      operationId: "newUpdateCluster"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      - in: "body"
        name: "Body"
        required: false
        schema:
          $ref: "#/definitions/Cluster"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Cluster"
          schema:
            $ref: "#/definitions/Cluster"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/kubeconfig:
    get:
      tags:
      - "project"
      summary: "Gets the kubeconfig for the specified cluster."
      operationId: "newGetClusterKubeconfig"
      produces:
      - "application/yaml"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "Kubeconfig"
          schema:
            $ref: "#/definitions/Kubeconfig"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/metrics:
    get:
      tags:
      - "project"
      description: "Gets cluster metrics"
      operationId: "clusterMetricsHandler"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "ClusterMetric"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ClusterMetric"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/nodes:
    get:
      tags:
      - "project"
      description: "Lists nodes that belong to the given cluster"
      operationId: "newListNodesForCluster"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      - name: "hideInitialConditions"
        in: "query"
        required: false
        type: "boolean"
        x-go-name: "HideInitialConditions"
        x-exportParamName: "HideInitialConditions"
      responses:
        200:
          description: "Node"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Node"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    post:
      tags:
      - "project"
      description: "Creates a node that will belong to the given cluster"
      operationId: "newCreateNodeForCluster"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      - in: "body"
        name: "Body"
        required: false
        schema:
          $ref: "#/definitions/Node"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Node"
          schema:
            $ref: "#/definitions/Node"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/nodes/{node_name}:
    get:
      tags:
      - "project"
      summary: "Gets a node that is assigned to the given cluster."
      operationId: "newGetNodeForCluster"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      - name: "node_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "NodeName"
        x-exportParamName: "NodeName"
      - name: "hideInitialConditions"
        in: "query"
        required: false
        type: "boolean"
        x-go-name: "HideInitialConditions"
        x-exportParamName: "HideInitialConditions"
      responses:
        200:
          description: "Node"
          schema:
            $ref: "#/definitions/Node"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    delete:
      tags:
      - "project"
      summary: "Deletes the given node that belongs to the cluster."
      operationId: "newDeleteNodeForCluster"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      - name: "node_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "NodeName"
        x-exportParamName: "NodeName"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/sshkeys:
    get:
      tags:
      - "project"
      description: "Lists ssh keys that are assigned to the cluster\nThe returned\
        \ collection is sorted by creation timestamp."
      operationId: "newListSSHKeysAssignedToCluster"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "NewSSHKey"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/NewSSHKey"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    post:
      tags:
      - "project"
      description: "Assigns an existing ssh key to the given cluster"
      operationId: "newAssignSSHKeyToCluster"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "KeyName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "KeyName"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/sshkeys/{key_name}:
    delete:
      tags:
      - "project"
      description: "Unassignes an ssh key from the given cluster"
      operationId: "newDetachSSHKeyFromCluster"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "key_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "KeyName"
        x-exportParamName: "KeyName"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/token:
    get:
      tags:
      - "project"
      summary: "Returns the current admin token for the given cluster."
      operationId: "getClusterAdminToken"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "ClusterAdminToken"
          schema:
            $ref: "#/definitions/ClusterAdminToken"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    put:
      tags:
      - "project"
      summary: "Revokes the current admin token and returns a newly generated one."
      operationId: "revokeClusterAdminToken"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "ClusterAdminToken"
          schema:
            $ref: "#/definitions/ClusterAdminToken"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/dc/{dc}/clusters/{cluster_name}/upgrades:
    get:
      tags:
      - "project"
      description: "Gets possible cluster upgrades"
      operationId: "getClusterUpgrades"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "ClusterName"
      responses:
        200:
          description: "MasterVersion"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MasterVersion"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/sshkeys:
    get:
      tags:
      - "project"
      summary: "Lists SSH Keys that belong to the given project."
      description: "The returned collection is sorted by creation timestamp."
      operationId: "newListSSHKeys"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      responses:
        200:
          description: "NewSSHKey"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/NewSSHKey"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    post:
      tags:
      - "project"
      summary: "Adds the given SSH key to the specified project."
      operationId: "newCreateSSHKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      responses:
        200:
          description: "NewSSHKey"
          schema:
            $ref: "#/definitions/NewSSHKey"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/sshkeys/{key_name}:
    delete:
      tags:
      - "project"
      summary: "Removes the given SSH Key from the system."
      operationId: "newDeleteSSHKey"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - name: "key_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "SSHKeyName"
        x-exportParamName: "KeyName"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/projects/{project_id}/users:
    post:
      tags:
      - "users"
      description: "Adds the given user to the given project"
      operationId: "addUserToProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_id"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ProjectID"
        x-exportParamName: "ProjectId"
      - in: "body"
        name: "Body"
        required: false
        schema:
          $ref: "#/definitions/User"
        x-exportParamName: "Body"
      responses:
        201:
          description: "User"
          schema:
            $ref: "#/definitions/User"
        401:
          description: "EmptyResponse is a empty response"
        403:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/ssh-keys:
    get:
      tags:
      - "ssh-keys"
      description: "Lists SSH keys from the user"
      operationId: "listSSHKeys"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SSHKey"
          schema:
            $ref: "#/definitions/SSHKey"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/ssh-keys/{meta_name}:
    delete:
      tags:
      - "ssh-keys"
      description: "Deletes a SSH keys for the user"
      operationId: "deleteSSHKey"
      produces:
      - "application/json"
      parameters:
      - name: "meta_name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "MetaName"
        x-exportParamName: "MetaName"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/sshkeys:
    post:
      tags:
      - "sshkeys"
      description: "Creates a SSH keys for the user"
      operationId: "createSSHKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SSHKey"
          schema:
            $ref: "#/definitions/SSHKey"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/versions:
    get:
      tags:
      - "versions"
      description: "Lists all versions which don't result in automatic updates"
      operationId: "getMasterVersions"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "MasterVersion"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MasterVersion"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v1/vsphere/networks:
    get:
      tags:
      - "vsphere"
      description: "Lists networks from vsphere datacenter"
      operationId: "listVSphereNetworks"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "VSphereNetwork"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/VSphereNetwork"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v3/dc/{dc}/cluster:
    get:
      tags:
      - "cluster"
      operationId: "listClustersV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      responses:
        200:
          description: "ClusterListV1"
          schema:
            $ref: "#/definitions/ClusterListV1"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    post:
      tags:
      - "cluster"
      operationId: "createClusterV3"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - in: "body"
        name: "Body"
        required: false
        schema:
          $ref: "#/definitions/ClusterReqBody"
        x-exportParamName: "Body"
      responses:
        201:
          description: "ClusterV1"
          schema:
            $ref: "#/definitions/ClusterV1"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v3/dc/{dc}/cluster/{cluster}:
    get:
      tags:
      - "cluster"
      operationId: "getClusterV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      responses:
        200:
          description: "ClusterV1"
          schema:
            $ref: "#/definitions/ClusterV1"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    put:
      tags:
      - "cluster"
      operationId: "updateClusterV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      - in: "body"
        name: "Body"
        required: false
        schema:
          $ref: "#/definitions/CreateClusterReqBody"
        x-exportParamName: "Body"
      responses:
        200:
          description: "ClusterV1"
          schema:
            $ref: "#/definitions/ClusterV1"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    delete:
      tags:
      - "cluster"
      operationId: "deleteClusterV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v3/dc/{dc}/cluster/{cluster}/kubeconfig:
    get:
      tags:
      - "cluster"
      operationId: "getClusterKubeconfigV3"
      produces:
      - "application/yaml"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      responses:
        200:
          description: "Kubeconfig"
          schema:
            $ref: "#/definitions/Kubeconfig"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v3/dc/{dc}/cluster/{cluster}/node:
    get:
      tags:
      - "cluster"
      operationId: "nodesHandlerV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      - name: "hideInitialConditions"
        in: "query"
        required: false
        type: "boolean"
        x-go-name: "HideInitialConditions"
        x-exportParamName: "HideInitialConditions"
      responses:
        200:
          description: "NodeListV2"
          schema:
            $ref: "#/definitions/NodeListV2"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    post:
      tags:
      - "cluster"
      operationId: "createNodesHandlerV3"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "Body"
        required: false
        schema:
          $ref: "#/definitions/CreateNodeReqBodyV3"
        x-exportParamName: "Body"
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      responses:
        201:
          description: "NodeV2"
          schema:
            $ref: "#/definitions/NodeV2"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v3/dc/{dc}/cluster/{cluster}/node/{node}:
    get:
      tags:
      - "cluster"
      operationId: "getNodeHandlerV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      - name: "node"
        in: "path"
        required: true
        type: "string"
        x-go-name: "NodeName"
        x-exportParamName: "Node"
      - name: "hideInitialConditions"
        in: "query"
        required: false
        type: "boolean"
        x-go-name: "HideInitialConditions"
        x-exportParamName: "HideInitialConditions"
      responses:
        200:
          description: "NodeV2"
          schema:
            $ref: "#/definitions/NodeV2"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
    delete:
      tags:
      - "cluster"
      operationId: "deleteNodeHandlerV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      - name: "node"
        in: "path"
        required: true
        type: "string"
        x-go-name: "NodeName"
        x-exportParamName: "Node"
      - name: "hideInitialConditions"
        in: "query"
        required: false
        type: "boolean"
        x-go-name: "HideInitialConditions"
        x-exportParamName: "HideInitialConditions"
      responses:
        200:
          description: "EmptyResponse is a empty response"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
  /api/v3/dc/{dc}/cluster/{cluster}/upgrades:
    get:
      tags:
      - "cluster"
      operationId: "legacyGetPossibleClusterUpgradesV3"
      produces:
      - "application/json"
      parameters:
      - name: "dc"
        in: "path"
        required: true
        type: "string"
        x-go-name: "DC"
        x-exportParamName: "Dc"
      - name: "cluster"
        in: "path"
        required: true
        type: "string"
        x-go-name: "ClusterName"
        x-exportParamName: "Cluster"
      responses:
        200:
          description: "MasterVersion"
          schema:
            $ref: "#/definitions/MasterVersion"
        default:
          description: "ErrorResponse is the default representation of an error"
          schema:
            $ref: "#/definitions/ErrorDetails"
definitions:
  AWSCloudSpec:
    type: "object"
    properties:
      accessKeyId:
        type: "string"
        x-go-name: "AccessKeyID"
      availabilityZone:
        type: "string"
        x-go-name: "AvailabilityZone"
      instanceProfileName:
        type: "string"
        x-go-name: "InstanceProfileName"
      roleName:
        type: "string"
        x-go-name: "RoleName"
      routeTableId:
        type: "string"
        x-go-name: "RouteTableID"
      secretAccessKey:
        type: "string"
        x-go-name: "SecretAccessKey"
      securityGroupID:
        type: "string"
        x-go-name: "SecurityGroupID"
      subnetId:
        type: "string"
        x-go-name: "SubnetID"
      vpcId:
        type: "string"
        x-go-name: "VPCID"
    title: "AWSCloudSpec specifies access data to Amazon Web Services."
    example:
      accessKeyId: "accessKeyId"
      secretAccessKey: "secretAccessKey"
      securityGroupID: "securityGroupID"
      subnetId: "subnetId"
      instanceProfileName: "instanceProfileName"
      routeTableId: "routeTableId"
      vpcId: "vpcId"
      roleName: "roleName"
      availabilityZone: "availabilityZone"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  AWSDatacenterSpec:
    type: "object"
    properties:
      region:
        type: "string"
        x-go-name: "Region"
    title: "AWSDatacenterSpec specifies a data center of Amazon Web Services."
    example:
      region: "region"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  AWSNodeSpecV2:
    type: "object"
    required:
    - "diskSize"
    - "instanceType"
    - "volumeType"
    properties:
      ami:
        type: "string"
        description: "ami to use. Will be defaulted to a ami for your selected operating\
          \ system and region. Only set this when you know what you do."
        x-go-name: "AMI"
      diskSize:
        type: "integer"
        format: "int64"
        description: "size of the volume in gb. Only one volume will be created"
        x-go-name: "VolumeSize"
      instanceType:
        type: "string"
        example: "t2.micro"
        x-go-name: "InstanceType"
      tags:
        type: "object"
        description: "additional instance tags"
        additionalProperties:
          type: "string"
        x-go-name: "Tags"
      volumeType:
        type: "string"
        example: "gp2, io1, st1, sc1, standard"
        x-go-name: "VolumeType"
    description: "AWSNodeSpec aws specific node settings"
    example:
      volumeType: "gp2, io1, st1, sc1, standard"
      diskSize: 0
      instanceType: "t2.micro"
      ami: "ami"
      tags:
        key: "tags"
    x-go-name: "AWSNodeSpec"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v2"
  AuthInfo:
    type: "object"
    properties:
      as:
        type: "string"
        description: "Impersonate is the username to imperonate.  The name matches\
          \ the flag.\n+optional"
        x-go-name: "Impersonate"
      as-groups:
        type: "array"
        description: "ImpersonateGroups is the groups to imperonate.\n+optional"
        items:
          type: "string"
        x-go-name: "ImpersonateGroups"
      as-user-extra:
        type: "object"
        description: "ImpersonateUserExtra contains additional information for impersonated\
          \ user.\n+optional"
        additionalProperties:
          type: "array"
          items:
            type: "string"
        x-go-name: "ImpersonateUserExtra"
      auth-provider:
        $ref: "#/definitions/AuthProviderConfig"
      client-certificate:
        type: "string"
        description: "ClientCertificate is the path to a client cert file for TLS.\n\
          +optional"
        x-go-name: "ClientCertificate"
      client-certificate-data:
        type: "array"
        description: "ClientCertificateData contains PEM-encoded data from a client\
          \ cert file for TLS. Overrides ClientCertificate\n+optional"
        items:
          type: "integer"
          format: "uint8"
        x-go-name: "ClientCertificateData"
      client-key:
        type: "string"
        description: "ClientKey is the path to a client key file for TLS.\n+optional"
        x-go-name: "ClientKey"
      client-key-data:
        type: "array"
        description: "ClientKeyData contains PEM-encoded data from a client key file\
          \ for TLS. Overrides ClientKey\n+optional"
        items:
          type: "integer"
          format: "uint8"
        x-go-name: "ClientKeyData"
      exec:
        $ref: "#/definitions/ExecConfig"
      extensions:
        type: "array"
        description: "Extensions holds additional information. This is useful for\
          \ extenders so that reads and writes don't clobber unknown fields\n+optional"
        items:
          $ref: "#/definitions/NamedExtension"
        x-go-name: "Extensions"
      password:
        type: "string"
        description: "Password is the password for basic authentication to the kubernetes\
          \ cluster.\n+optional"
        x-go-name: "Password"
      token:
        type: "string"
        description: "Token is the bearer token for authentication to the kubernetes\
          \ cluster.\n+optional"
        x-go-name: "Token"
      tokenFile:
        type: "string"
        description: "TokenFile is a pointer to a file that contains a bearer token\
          \ (as described above).  If both Token and TokenFile are present, Token\
          \ takes precedence.\n+optional"
        x-go-name: "TokenFile"
      username:
        type: "string"
        description: "Username is the username for basic authentication to the kubernetes\
          \ cluster.\n+optional"
        x-go-name: "Username"
    title: "AuthInfo contains information that describes identity information.  This\
      \ is use to tell the kubernetes cluster who you are."
    x-go-package: "github.com/kubermatic/kubermatic/api/vendor/k8s.io/client-go/tools/clientcmd/api/v1"
  AuthProviderConfig:
    type: "object"
    properties:
      config:
        type: "object"
        additionalProperties:
          type: "string"
        x-go-name: "Config"
      name:
        type: "string"
        x-go-name: "Name"
    title: "AuthProviderConfig holds the configuration for a specified auth provider."
    x-go-package: "github.com/kubermatic/kubermatic/api/vendor/k8s.io/client-go/tools/clientcmd/api/v1"
  AzureCloudSpec:
    type: "object"
    properties:
      availabilitySet:
        type: "string"
        x-go-name: "AvailabilitySet"
      clientID:
        type: "string"
        x-go-name: "ClientID"
      clientSecret:
        type: "string"
        x-go-name: "ClientSecret"
      resourceGroup:
        type: "string"
        x-go-name: "ResourceGroup"
      routeTable:
        type: "string"
        x-go-name: "RouteTableName"
      securityGroup:
        type: "string"
        x-go-name: "SecurityGroup"
      subnet:
        type: "string"
        x-go-name: "SubnetName"
      subscriptionID:
        type: "string"
        x-go-name: "SubscriptionID"
      tenantID:
        type: "string"
        x-go-name: "TenantID"
      vnet:
        type: "string"
        x-go-name: "VNetName"
    title: "AzureCloudSpec specifies acceess credentials to Azure cloud."
    example:
      vnet: "vnet"
      availabilitySet: "availabilitySet"
      resourceGroup: "resourceGroup"
      subnet: "subnet"
      clientID: "clientID"
      routeTable: "routeTable"
      tenantID: "tenantID"
      clientSecret: "clientSecret"
      securityGroup: "securityGroup"
      subscriptionID: "subscriptionID"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  AzureDatacenterSpec:
    type: "object"
    properties:
      location:
        type: "string"
        x-go-name: "Location"
    title: "AzureDatacenterSpec specifies a datacenter of Azure."
    example:
      location: "location"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  AzureNodeSpecV1:
    type: "object"
    required:
    - "size"
    properties:
      assignPublicIP:
        type: "boolean"
        description: "should the machine have a publicly accessible IP address"
        x-go-name: "AssignPublicIP"
      size:
        type: "string"
        description: "VM size"
        x-go-name: "Size"
      tags:
        type: "object"
        description: "Additional metadata to set"
        additionalProperties:
          type: "string"
        x-go-name: "Tags"
    description: "AzureNodeSpec describes settings for an Azure node"
    example:
      size: "size"
      assignPublicIP: true
      tags:
        key: "tags"
    x-go-name: "AzureNodeSpec"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v2"
  AzureSize:
    type: "object"
    properties:
      maxDataDiskCount:
        type: "integer"
        format: "int32"
        x-go-name: "MaxDataDiskCount"
      memoryInMB:
        type: "integer"
        format: "int32"
        x-go-name: "MemoryInMB"
      name:
        type: "string"
        x-go-name: "Name"
      numberOfCores:
        type: "integer"
        format: "int32"
        x-go-name: "NumberOfCores"
      osDiskSizeInMB:
        type: "integer"
        format: "int32"
        x-go-name: "OsDiskSizeInMB"
      resourceDiskSizeInMB:
        type: "integer"
        format: "int32"
        x-go-name: "ResourceDiskSizeInMB"
    title: "AzureSize is the object representing Azure VM sizes."
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  AzureSizeList:
    title: "AzureSizeList represents an array of Azure VM sizes."
    type: "array"
    items:
      $ref: "#/definitions/AzureSize"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  BringYourOwnCloudSpec:
    type: "object"
    title: "BringYourOwnCloudSpec specifies access data for a bring your own cluster."
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  BringYourOwnDatacenterSpec:
    type: "object"
    title: "BringYourOwnDatacenterSpec specifies a data center with bring-your-own\
      \ nodes."
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  Bytes:
    type: "array"
    items:
      type: "integer"
      format: "uint8"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  CauseType:
    type: "string"
    description: "CauseType is a machine readable value providing more detail about\
      \ what\noccurred in a status response. An operation may have multiple causes\
      \ for a\nstatus (whether Failure or Success)."
    x-go-package: "github.com/kubermatic/kubermatic/api/vendor/k8s.io/apimachinery/pkg/apis/meta/v1"
  CentOSSpec:
    type: "object"
    properties:
      distUpgradeOnBoot:
        type: "boolean"
        description: "do a dist-upgrade on boot and reboot it required afterwards"
        x-go-name: "DistUpgradeOnBoot"
    description: "CentOSSpec contains CentOS specific settings"
    example:
      distUpgradeOnBoot: true
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v2"
  CloudSpec:
    type: "object"
    properties:
      aws:
        $ref: "#/definitions/AWSCloudSpec"
      azure:
        $ref: "#/definitions/AzureCloudSpec"
      bringyourown:
        $ref: "#/definitions/BringYourOwnCloudSpec"
      dc:
        type: "string"
        description: "DatacenterName where the users 'cloud' lives in."
        x-go-name: "DatacenterName"
      digitalocean:
        $ref: "#/definitions/DigitaloceanCloudSpec"
      fake:
        $ref: "#/definitions/FakeCloudSpec"
      hetzner:
        $ref: "#/definitions/HetznerCloudSpec"
      openstack:
        $ref: "#/definitions/OpenstackCloudSpec"
      vsphere:
        $ref: "#/definitions/VSphereCloudSpec"
    title: "CloudSpec mutually stores access data to a cloud provider."
    example:
      vsphere:
        password: "password"
        vmNetName: "vmNetName"
        infraManagementUser:
          password: "password"
          username: "username"
        username: "username"
      hetzner:
        token: "token"
      bringyourown: {}
      fake:
        token: "token"
      openstack:
        subnetID: "subnetID"
        password: "password"
        routerID: "routerID"
        domain: "domain"
        floatingIpPool: "floatingIpPool"
        securityGroups: "securityGroups"
        tenant: "tenant"
        network: "network"
        username: "username"
      aws:
        accessKeyId: "accessKeyId"
        secretAccessKey: "secretAccessKey"
        securityGroupID: "securityGroupID"
        subnetId: "subnetId"
        instanceProfileName: "instanceProfileName"
        routeTableId: "routeTableId"
        vpcId: "vpcId"
        roleName: "roleName"
        availabilityZone: "availabilityZone"
      digitalocean:
        token: "token"
      azure:
        vnet: "vnet"
        availabilitySet: "availabilitySet"
        resourceGroup: "resourceGroup"
        subnet: "subnet"
        clientID: "clientID"
        routeTable: "routeTable"
        tenantID: "tenantID"
        clientSecret: "clientSecret"
        securityGroup: "securityGroup"
        subscriptionID: "subscriptionID"
      dc: "dc"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  Cluster:
    type: "object"
    properties:
      creationTimestamp:
        type: "string"
        format: "date-time"
        description: "CreationTimestamp is a timestamp representing the server time\
          \ when this object was created."
        x-go-name: "CreationTimestamp"
      deletionTimestamp:
        type: "string"
        format: "date-time"
        description: "DeletionTimestamp is a timestamp representing the server time\
          \ when this object was deleted."
        x-go-name: "DeletionTimestamp"
      id:
        type: "string"
        description: "ID unique value that identifies the resource generated by the\
          \ server"
        x-go-name: "ID"
      name:
        type: "string"
        description: "Name represents human readable name for the resource"
        x-go-name: "Name"
      spec:
        $ref: "#/definitions/NewClusterSpec"
      status:
        $ref: "#/definitions/NewClusterStatus"
    description: "NewCluster defines the cluster resource"
    example:
      creationTimestamp: "2000-01-23T04:56:07.000+00:00"
      name: "name"
      id: "id"
      spec:
        cloud:
          vsphere:
            password: "password"
            vmNetName: "vmNetName"
            infraManagementUser:
              password: "password"
              username: "username"
            username: "username"
          hetzner:
            token: "token"
          bringyourown: {}
          fake:
            token: "token"
          openstack:
            subnetID: "subnetID"
            password: "password"
            routerID: "routerID"
            domain: "domain"
            floatingIpPool: "floatingIpPool"
            securityGroups: "securityGroups"
            tenant: "tenant"
            network: "network"
            username: "username"
          aws:
            accessKeyId: "accessKeyId"
            secretAccessKey: "secretAccessKey"
            securityGroupID: "securityGroupID"
            subnetId: "subnetId"
            instanceProfileName: "instanceProfileName"
            routeTableId: "routeTableId"
            vpcId: "vpcId"
            roleName: "roleName"
            availabilityZone: "availabilityZone"
          digitalocean:
            token: "token"
          azure:
            vnet: "vnet"
            availabilitySet: "availabilitySet"
            resourceGroup: "resourceGroup"
            subnet: "subnet"
            clientID: "clientID"
            routeTable: "routeTable"
            tenantID: "tenantID"
            clientSecret: "clientSecret"
            securityGroup: "securityGroup"
            subscriptionID: "subscriptionID"
          dc: "dc"
        version: "version"
      deletionTimestamp: "2000-01-23T04:56:07.000+00:00"
      status:
        version: "version"
        url: "url"
    x-go-name: "NewCluster"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  ClusterAddress:
    type: "object"
    properties:
      adminToken:
        type: "string"
        description: "AdminToken is the token for the kubeconfig, the user can download"
        x-go-name: "AdminToken"
      externalName:
        type: "string"
        description: "ExternalName is the DNS name for this cluster"
        x-go-name: "ExternalName"
      ip:
        type: "string"
        description: "IP is the external IP under which the apiserver is available"
        x-go-name: "IP"
      url:
        type: "string"
        description: "URL under which the Apiserver is available"
        x-go-name: "URL"
    title: "ClusterAddress stores access and address information of a cluster."
    example:
      externalName: "externalName"
      ip: "ip"
      adminToken: "adminToken"
      url: "url"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  ClusterAdminToken:
    type: "object"
    properties:
      token:
        type: "string"
        x-go-name: "Token"
    description: "ClusterAdminToken represents a cluster's admin token"
    example:
      token: "token"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  ClusterHealth:
    type: "object"
    properties:
      apiserver:
        type: "boolean"
        x-go-name: "Apiserver"
      controller:
        type: "boolean"
        x-go-name: "Controller"
      etcd:
        type: "boolean"
        x-go-name: "Etcd"
      machineController:
        type: "boolean"
        x-go-name: "MachineController"
      scheduler:
        type: "boolean"
        x-go-name: "Scheduler"
    title: "NewClusterHealth stores health information about the cluster's components."
    example:
      scheduler: true
      controller: true
      machineController: true
      apiserver: true
      etcd: true
    x-go-name: "NewClusterHealth"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  ClusterList:
    type: "array"
    description: "NewClusterList represents a list of clusters"
    items:
      $ref: "#/definitions/Cluster"
    x-go-name: "NewClusterList"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  ClusterListV1:
    type: "array"
    description: "ClusterList represents a list of clusters"
    items:
      $ref: "#/definitions/ClusterV1"
    x-go-name: "ClusterList"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  ClusterMetric:
    type: "object"
    properties:
      name:
        type: "string"
        x-go-name: "Name"
      values:
        type: "array"
        items:
          type: "number"
          format: "double"
        x-go-name: "Values"
    description: "ClusterMetric defines a metric for the given cluster"
    example:
      values:
      - 0.8008281904610115
      - 0.8008281904610115
      name: "name"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  ClusterNetworkingConfig:
    type: "object"
    properties:
      dnsDomain:
        type: "string"
        description: "Domain name for services."
        x-go-name: "DNSDomain"
      pods:
        $ref: "#/definitions/NetworkRanges"
      services:
        $ref: "#/definitions/NetworkRanges"
    description: "ClusterNetworkingConfig specifies the different networking\nparameters\
      \ for a cluster."
    example:
      pods:
        cidrBlocks:
        - "cidrBlocks"
        - "cidrBlocks"
      services:
        cidrBlocks:
        - "cidrBlocks"
        - "cidrBlocks"
      dnsDomain: "dnsDomain"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  ClusterPhase:
    type: "string"
    title: "ClusterPhase is the life cycle phase of a cluster."
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  ClusterReqBody:
    type: "object"
    properties:
      cluster:
        $ref: "#/definitions/ClusterSpec"
      sshKeys:
        type: "array"
        items:
          type: "string"
        x-go-name: "SSHKeys"
    description: "ClusterReqBody represents the body of a new cluster request"
    example:
      cluster:
        cloud:
          vsphere:
            password: "password"
            vmNetName: "vmNetName"
            infraManagementUser:
              password: "password"
              username: "username"
            username: "username"
          hetzner:
            token: "token"
          bringyourown: {}
          fake:
            token: "token"
          openstack:
            subnetID: "subnetID"
            password: "password"
            routerID: "routerID"
            domain: "domain"
            floatingIpPool: "floatingIpPool"
            securityGroups: "securityGroups"
            tenant: "tenant"
            network: "network"
            username: "username"
          aws:
            accessKeyId: "accessKeyId"
            secretAccessKey: "secretAccessKey"
            securityGroupID: "securityGroupID"
            subnetId: "subnetId"
            instanceProfileName: "instanceProfileName"
            routeTableId: "routeTableId"
            vpcId: "vpcId"
            roleName: "roleName"
            availabilityZone: "availabilityZone"
          digitalocean:
            token: "token"
          azure:
            vnet: "vnet"
            availabilitySet: "availabilitySet"
            resourceGroup: "resourceGroup"
            subnet: "subnet"
            clientID: "clientID"
            routeTable: "routeTable"
            tenantID: "tenantID"
            clientSecret: "clientSecret"
            securityGroup: "securityGroup"
            subscriptionID: "subscriptionID"
          dc: "dc"
        pauseReason: "pauseReason"
        componentsOverride:
          scheduler:
            replicas: 5
            resources:
              requests: null
              limits: {}
          controllerManager:
            replicas: 5
            resources:
              requests: null
              limits: {}
          apiserver:
            replicas: 5
            resources:
              requests: null
              limits: {}
          etcd:
            resources:
              requests: null
              limits: {}
        masterVersion: "masterVersion"
        clusterNetwork:
          pods:
            cidrBlocks:
            - "cidrBlocks"
            - "cidrBlocks"
          services:
            cidrBlocks:
            - "cidrBlocks"
            - "cidrBlocks"
          dnsDomain: "dnsDomain"
        humanReadableName: "humanReadableName"
        version: "version"
        pause: true
      sshKeys:
      - "sshKeys"
      - "sshKeys"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/handler"
  ClusterSpec:
    type: "object"
    properties:
      cloud:
        $ref: "#/definitions/CloudSpec"
      clusterNetwork:
        $ref: "#/definitions/ClusterNetworkingConfig"
      componentsOverride:
        $ref: "#/definitions/ComponentSettings"
      humanReadableName:
        type: "string"
        description: "HumanReadableName is the cluster name provided by the user"
        x-go-name: "HumanReadableName"
      masterVersion:
        type: "string"
        description: "MasterVersion is Deprecated"
        x-go-name: "MasterVersion"
      pause:
        type: "boolean"
        description: "Pause tells that this cluster is currently not managed by the\
          \ controller.\nIt indicates that the user needs to do some action to resolve\
          \ the pause."
        x-go-name: "Pause"
      pauseReason:
        type: "string"
        description: "PauseReason is the reason why the cluster is no being managed."
        x-go-name: "PauseReason"
      version:
        type: "string"
        description: "Version defines the wanted version of the control plane"
        x-go-name: "Version"
    title: "ClusterSpec specifies the data for a new cluster."
    example:
      cloud:
        vsphere:
          password: "password"
          vmNetName: "vmNetName"
          infraManagementUser:
            password: "password"
            username: "username"
          username: "username"
        hetzner:
          token: "token"
        bringyourown: {}
        fake:
          token: "token"
        openstack:
          subnetID: "subnetID"
          password: "password"
          routerID: "routerID"
          domain: "domain"
          floatingIpPool: "floatingIpPool"
          securityGroups: "securityGroups"
          tenant: "tenant"
          network: "network"
          username: "username"
        aws:
          accessKeyId: "accessKeyId"
          secretAccessKey: "secretAccessKey"
          securityGroupID: "securityGroupID"
          subnetId: "subnetId"
          instanceProfileName: "instanceProfileName"
          routeTableId: "routeTableId"
          vpcId: "vpcId"
          roleName: "roleName"
          availabilityZone: "availabilityZone"
        digitalocean:
          token: "token"
        azure:
          vnet: "vnet"
          availabilitySet: "availabilitySet"
          resourceGroup: "resourceGroup"
          subnet: "subnet"
          clientID: "clientID"
          routeTable: "routeTable"
          tenantID: "tenantID"
          clientSecret: "clientSecret"
          securityGroup: "securityGroup"
          subscriptionID: "subscriptionID"
        dc: "dc"
      pauseReason: "pauseReason"
      componentsOverride:
        scheduler:
          replicas: 5
          resources:
            requests: null
            limits: {}
        controllerManager:
          replicas: 5
          resources:
            requests: null
            limits: {}
        apiserver:
          replicas: 5
          resources:
            requests: null
            limits: {}
        etcd:
          resources:
            requests: null
            limits: {}
      masterVersion: "masterVersion"
      clusterNetwork:
        pods:
          cidrBlocks:
          - "cidrBlocks"
          - "cidrBlocks"
        services:
          cidrBlocks:
          - "cidrBlocks"
          - "cidrBlocks"
        dnsDomain: "dnsDomain"
      humanReadableName: "humanReadableName"
      version: "version"
      pause: true
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  ClusterStatus:
    type: "object"
    properties:
      apiserverCert:
        $ref: "#/definitions/KeyCert"
      apiserverSshKey:
        $ref: "#/definitions/RSAKeys"
      errorMessage:
        type: "string"
        description: "ErrorMessage contains a defauled error message in case the controller\
          \ encountered an error. Will be reset if the error was resolved"
        x-go-name: "ErrorMessage"
      errorReason:
        $ref: "#/definitions/ClusterStatusError"
      health:
        $ref: "#/definitions/ClusterHealth"
      kubeletCert:
        $ref: "#/definitions/KeyCert"
      lastUpdated:
        $ref: "#/definitions/Time"
      namespaceName:
        type: "string"
        description: "NamespaceName defines the namespace the control plane of this\
          \ cluster is deployed in"
        x-go-name: "NamespaceName"
      phase:
        $ref: "#/definitions/ClusterPhase"
      rootCA:
        $ref: "#/definitions/KeyCert"
      serviceAccountKey:
        $ref: "#/definitions/Bytes"
      userEmail:
        type: "string"
        description: "UserEmail contains the email of the owner of this cluster"
        x-go-name: "UserEmail"
      userName:
        type: "string"
        description: "UserName contains the name of the owner of this cluster"
        x-go-name: "UserName"
    title: "ClusterStatus stores status information about a cluster."
    example:
      apiserverSshKey:
        privateKey: ""
        publicKey: ""
      phase: {}
      serviceAccountKey: ""
      errorMessage: "errorMessage"
      health:
        scheduler: true
        controller: true
        machineController: true
        apiserver: true
        etcd: true
      apiserverCert:
        cert: ""
        key: ""
      userName: "userName"
      lastUpdated: null
      errorReason: {}
      rootCA:
        cert: ""
        key: ""
      userEmail: "userEmail"
      namespaceName: "namespaceName"
      kubeletCert:
        cert: ""
        key: ""
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  ClusterStatusError:
    type: "string"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  ClusterV1:
    type: "object"
    properties:
      address:
        $ref: "#/definitions/ClusterAddress"
      annotations:
        type: "object"
        description: "Annotations is an unstructured key value map stored with a resource\
          \ that may be\nset by external tools to store and retrieve arbitrary metadata.\
          \ They are not\nqueryable and should be preserved when modifying objects.\n\
          More info: http://kubernetes.io/docs/user-guide/annotations\n+optional"
        additionalProperties:
          type: "string"
        x-go-name: "Annotations"
      apiVersion:
        type: "string"
        description: "APIVersion defines the versioned schema of this representation\
          \ of an object.\nServers should convert recognized schemas to the latest\
          \ internal value, and\nmay reject unrecognized values.\nMore info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources\n\
          +optional"
        x-go-name: "APIVersion"
      clusterName:
        type: "string"
        description: "The name of the cluster which the object belongs to.\nThis is\
          \ used to distinguish resources with same name and namespace in different\
          \ clusters.\nThis field is not set anywhere right now and apiserver is going\
          \ to ignore it if set in create or update request.\n+optional"
        x-go-name: "ClusterName"
      creationTimestamp:
        $ref: "#/definitions/Time"
      deletionGracePeriodSeconds:
        type: "integer"
        format: "int64"
        description: "Number of seconds allowed for this object to gracefully terminate\
          \ before\nit will be removed from the system. Only set when deletionTimestamp\
          \ is also set.\nMay only be shortened.\nRead-only.\n+optional"
        x-go-name: "DeletionGracePeriodSeconds"
      deletionTimestamp:
        $ref: "#/definitions/Time"
      finalizers:
        type: "array"
        description: "Must be empty before the object is deleted from the registry.\
          \ Each entry\nis an identifier for the responsible component that will remove\
          \ the entry\nfrom the list. If the deletionTimestamp of the object is non-nil,\
          \ entries\nin this list can only be removed.\n+optional\n+patchStrategy=merge"
        items:
          type: "string"
        x-go-name: "Finalizers"
      generateName:
        type: "string"
        description: "GenerateName is an optional prefix, used by the server, to generate\
          \ a unique\nname ONLY IF the Name field has not been provided.\nIf this\
          \ field is used, the name returned to the client will be different\nthan\
          \ the name passed. This value will also be combined with a unique suffix.\n\
          The provided value has the same validation rules as the Name field,\nand\
          \ may be truncated by the length of the suffix required to make the value\n\
          unique on the server.\n\nIf this field is specified and the generated name\
          \ exists, the server will\nNOT return a 409 - instead, it will either return\
          \ 201 Created or 500 with Reason\nServerTimeout indicating a unique name\
          \ could not be found in the time allotted, and the client\nshould retry\
          \ (optionally after the time indicated in the Retry-After header).\n\nApplied\
          \ only if Name is not specified.\nMore info: https://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency\n\
          +optional"
        x-go-name: "GenerateName"
      generation:
        type: "integer"
        format: "int64"
        description: "A sequence number representing a specific generation of the\
          \ desired state.\nPopulated by the system. Read-only.\n+optional"
        x-go-name: "Generation"
      initializers:
        $ref: "#/definitions/Initializers"
      kind:
        type: "string"
        description: "Kind is a string value representing the REST resource this object\
          \ represents.\nServers may infer this from the endpoint the client submits\
          \ requests to.\nCannot be updated.\nIn CamelCase.\nMore info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds\n\
          +optional"
        x-go-name: "Kind"
      labels:
        type: "object"
        description: "Map of string keys and values that can be used to organize and\
          \ categorize\n(scope and select) objects. May match selectors of replication\
          \ controllers\nand services.\nMore info: http://kubernetes.io/docs/user-guide/labels\n\
          +optional"
        additionalProperties:
          type: "string"
        x-go-name: "Labels"
      name:
        type: "string"
        description: "Name must be unique within a namespace. Is required when creating\
          \ resources, although\nsome resources may allow a client to request the\
          \ generation of an appropriate name\nautomatically. Name is primarily intended\
          \ for creation idempotence and configuration\ndefinition.\nCannot be updated.\n\
          More info: http://kubernetes.io/docs/user-guide/identifiers#names\n+optional"
        x-go-name: "Name"
      namespace:
        type: "string"
        description: "Namespace defines the space within each name must be unique.\
          \ An empty namespace is\nequivalent to the \"default\" namespace, but \"\
          default\" is the canonical representation.\nNot all objects are required\
          \ to be scoped to a namespace - the value of this field for\nthose objects\
          \ will be empty.\n\nMust be a DNS_LABEL.\nCannot be updated.\nMore info:\
          \ http://kubernetes.io/docs/user-guide/namespaces\n+optional"
        x-go-name: "Namespace"
      ownerReferences:
        type: "array"
        description: "List of objects depended by this object. If ALL objects in the\
          \ list have\nbeen deleted, this object will be garbage collected. If this\
          \ object is managed by a controller,\nthen an entry in this list will point\
          \ to this controller, with the controller field set to true.\nThere cannot\
          \ be more than one managing controller.\n+optional\n+patchMergeKey=uid\n\
          +patchStrategy=merge"
        items:
          $ref: "#/definitions/OwnerReference"
        x-go-name: "OwnerReferences"
      resourceVersion:
        type: "string"
        description: "An opaque value that represents the internal version of this\
          \ object that can\nbe used by clients to determine when objects have changed.\
          \ May be used for optimistic\nconcurrency, change detection, and the watch\
          \ operation on a resource or set of resources.\nClients must treat these\
          \ values as opaque and passed unmodified back to the server.\nThey may only\
          \ be valid for a particular resource or set of resources.\n\nPopulated by\
          \ the system.\nRead-only.\nValue must be treated as opaque by clients and\
          \ .\nMore info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency\n\
          +optional"
        x-go-name: "ResourceVersion"
      selfLink:
        type: "string"
        description: "SelfLink is a URL representing this object.\nPopulated by the\
          \ system.\nRead-only.\n+optional"
        x-go-name: "SelfLink"
      spec:
        $ref: "#/definitions/ClusterSpec"
      status:
        $ref: "#/definitions/ClusterStatus"
      uid:
        $ref: "#/definitions/UID"
    title: "Cluster is the object representing a cluster."
    example:
      generation: 6
      finalizers:
      - "finalizers"
      - "finalizers"
      address:
        externalName: "externalName"
        ip: "ip"
        adminToken: "adminToken"
        url: "url"
      kind: "kind"
      resourceVersion: "resourceVersion"
      annotations:
        key: "annotations"
      generateName: "generateName"
      spec:
        cloud:
          vsphere:
            password: "password"
            vmNetName: "vmNetName"
            infraManagementUser:
              password: "password"
              username: "username"
            username: "username"
          hetzner:
            token: "token"
          bringyourown: {}
          fake:
            token: "token"
          openstack:
            subnetID: "subnetID"
            password: "password"
            routerID: "routerID"
            domain: "domain"
            floatingIpPool: "floatingIpPool"
            securityGroups: "securityGroups"
            tenant: "tenant"
            network: "network"
            username: "username"
          aws:
            accessKeyId: "accessKeyId"
            secretAccessKey: "secretAccessKey"
            securityGroupID: "securityGroupID"
            subnetId: "subnetId"
            instanceProfileName: "instanceProfileName"
            routeTableId: "routeTableId"
            vpcId: "vpcId"
            roleName: "roleName"
            availabilityZone: "availabilityZone"
          digitalocean:
            token: "token"
          azure:
            vnet: "vnet"
            availabilitySet: "availabilitySet"
            resourceGroup: "resourceGroup"
            subnet: "subnet"
            clientID: "clientID"
            routeTable: "routeTable"
            tenantID: "tenantID"
            clientSecret: "clientSecret"
            securityGroup: "securityGroup"
            subscriptionID: "subscriptionID"
          dc: "dc"
        pauseReason: "pauseReason"
        componentsOverride:
          scheduler:
            replicas: 5
            resources:
              requests: null
              limits: {}
          controllerManager:
            replicas: 5
            resources:
              requests: null
              limits: {}
          apiserver:
            replicas: 5
            resources:
              requests: null
              limits: {}
          etcd:
            resources:
              requests: null
              limits: {}
        masterVersion: "masterVersion"
        clusterNetwork:
          pods:
            cidrBlocks:
            - "cidrBlocks"
            - "cidrBlocks"
          services:
            cidrBlocks:
            - "cidrBlocks"
            - "cidrBlocks"
          dnsDomain: "dnsDomain"
        humanReadableName: "humanReadableName"
        version: "version"
        pause: true
      deletionTimestamp: null
      labels:
        key: "labels"
      ownerReferences:
      - uid: null
        controller: true
        apiVersion: "apiVersion"
        kind: "kind"
        name: "name"
        blockOwnerDeletion: true
      - uid: null
        controller: true
        apiVersion: "apiVersion"
        kind: "kind"
        name: "name"
        blockOwnerDeletion: true
      selfLink: "selfLink"
      deletionGracePeriodSeconds: 0
      uid: null
      apiVersion: "apiVersion"
      initializers:
        result:
          reason: {}
          apiVersion: "apiVersion"
          code: 1
          continue: "continue"
          kind: "kind"
          resourceVersion: "resourceVersion"
          details:
            uid: {}
            kind: "kind"
            causes:
            - reason: {}
              field: "field"
              message: "message"
            - reason: {}
              field: "field"
              message: "message"
            retryAfterSeconds: 5
            name: "name"
            group: "group"
          message: "message"
          selfLink: "selfLink"
          status: "status"
        pending:
        - name: "name"
        - name: "name"
      clusterName: "clusterName"
      creationTimestamp: {}
      name: "name"
      namespace: "namespace"
      status:
        apiserverSshKey:
          privateKey: ""
          publicKey: ""
        phase: {}
        serviceAccountKey: ""
        errorMessage: "errorMessage"
        health:
          scheduler: true
          controller: true
          machineController: true
          apiserver: true
          etcd: true
        apiserverCert:
          cert: ""
          key: ""
        userName: "userName"
        lastUpdated: null
        errorReason: {}
        rootCA:
          cert: ""
          key: ""
        userEmail: "userEmail"
        namespaceName: "namespaceName"
        kubeletCert:
          cert: ""
          key: ""
    x-go-name: "Cluster"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  ComponentSettings:
    type: "object"
    properties:
      apiserver:
        $ref: "#/definitions/DeploymentSettings"
      controllerManager:
        $ref: "#/definitions/DeploymentSettings"
      etcd:
        $ref: "#/definitions/EtcdSettings"
      scheduler:
        $ref: "#/definitions/DeploymentSettings"
    example:
      scheduler:
        replicas: 5
        resources:
          requests: null
          limits: {}
      controllerManager:
        replicas: 5
        resources:
          requests: null
          limits: {}
      apiserver:
        replicas: 5
        resources:
          requests: null
          limits: {}
      etcd:
        resources:
          requests: null
          limits: {}
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/crd/kubermatic/v1"
  ContainerLinuxSpecV2:
    type: "object"
    properties:
      disableAutoUpdate:
        type: "boolean"
        description: "disable container linux auto-update feature"
        x-go-name: "DisableAutoUpdate"
    description: "ContainerLinuxSpec ubuntu linux specific settings"
    example:
      disableAutoUpdate: true
    x-go-name: "ContainerLinuxSpec"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v2"
  Context:
    type: "object"
    properties:
      cluster:
        type: "string"
        description: "Cluster is the name of the cluster for this context"
        x-go-name: "Cluster"
      extensions:
        type: "array"
        description: "Extensions holds additional information. This is useful for\
          \ extenders so that reads and writes don't clobber unknown fields\n+optional"
        items:
          $ref: "#/definitions/NamedExtension"
        x-go-name: "Extensions"
      namespace:
        type: "string"
        description: "Namespace is the default namespace to use on unspecified requests\n\
          +optional"
        x-go-name: "Namespace"
      user:
        type: "string"
        description: "AuthInfo is the name of the authInfo for this context"
        x-go-name: "AuthInfo"
    description: "Context is a tuple of references to a cluster (how do I communicate\
      \ with a kubernetes cluster), a user (how do I identify myself), and a namespace\
      \ (what subset of resources do I want to work with)"
    x-go-package: "github.com/kubermatic/kubermatic/api/vendor/k8s.io/client-go/tools/clientcmd/api/v1"
  CreateClusterReqBody:
    type: "object"
    properties:
      cluster:
        $ref: "#/definitions/Cluster"
    description: "CreateClusterReqBody represents the request body for a create cluster\
      \ request"
    example:
      cluster:
        creationTimestamp: "2000-01-23T04:56:07.000+00:00"
        name: "name"
        id: "id"
        spec:
          cloud:
            vsphere:
              password: "password"
              vmNetName: "vmNetName"
              infraManagementUser:
                password: "password"
                username: "username"
              username: "username"
            hetzner:
              token: "token"
            bringyourown: {}
            fake:
              token: "token"
            openstack:
              subnetID: "subnetID"
              password: "password"
              routerID: "routerID"
              domain: "domain"
              floatingIpPool: "floatingIpPool"
              securityGroups: "securityGroups"
              tenant: "tenant"
              network: "network"
              username: "username"
            aws:
              accessKeyId: "accessKeyId"
              secretAccessKey: "secretAccessKey"
              securityGroupID: "securityGroupID"
              subnetId: "subnetId"
              instanceProfileName: "instanceProfileName"
              routeTableId: "routeTableId"
              vpcId: "vpcId"
              roleName: "roleName"
              availabilityZone: "availabilityZone"
            digitalocean:
              token: "token"
            azure:
              vnet: "vnet"
              availabilitySet: "availabilitySet"
              resourceGroup: "resourceGroup"
              subnet: "subnet"
              clientID: "clientID"
              routeTable: "routeTable"
              tenantID: "tenantID"
              clientSecret: "clientSecret"
              securityGroup: "securityGroup"
              subscriptionID: "subscriptionID"
            dc: "dc"
          version: "version"
        deletionTimestamp: "2000-01-23T04:56:07.000+00:00"
        status:
          version: "version"
          url: "url"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/handler"
  CreateNodeReqBodyV3:
    type: "object"
    required:
    - "spec"
    properties:
      metadata:
        $ref: "#/definitions/ObjectMetaV2"
      spec:
        $ref: "#/definitions/NodeSpecV2"
      status:
        $ref: "#/definitions/NodeStatusV2"
    description: "CreateNodeReqBodyV3 represents the request body of a create nodes\
      \ request"
    example:
      metadata:
        displayName: "displayName"
        creationTimestamp: "2000-01-23T04:56:07.000+00:00"
        name: "name"
        annotations:
          key: "annotations"
        deletionTimestamp: "2000-01-23T04:56:07.000+00:00"
        labels:
          key: "labels"
      spec:
        cloud:
          vsphere:
            template: "template"
            templateNetName: "templateNetName"
            memory: 1
            cpus: 6
          hetzner:
            type: "type"
          openstack:
            flavor: "flavor"
            image: "image"
            tags:
              key: "tags"
          aws:
            volumeType: "gp2, io1, st1, sc1, standard"
            diskSize: 0
            instanceType: "t2.micro"
            ami: "ami"
            tags:
              key: "tags"
          digitalocean:
            size: "size"
            ipv6: true
            monitoring: true
            backups: true
            tags:
            - "tags"
            - "tags"
          azure:
            size: "size"
            assignPublicIP: true
            tags:
              key: "tags"
        versions:
          containerRuntime:
            name: "name"
            version: "version"
          kubelet: "kubelet"
        operatingSystem:
          ubuntu:
            distUpgradeOnBoot: true
          containerLinux:
            disableAutoUpdate: true
          centos:
            distUpgradeOnBoot: true
      status:
        allocatable:
          memory: "memory"
          cpu: "cpu"
        addresses:
        - address: "192.168.1.1, node1.my.dns"
          type: "ExternalIP, InternalIP, InternalDNS, ExternalDNS"
        - address: "192.168.1.1, node1.my.dns"
          type: "ExternalIP, InternalIP, InternalDNS, ExternalDNS"
        errorReason: "errorReason"
        errorMessage: "errorMessage"
        nodeInfo:
          containerRuntime: "containerRuntime"
          containerRuntimeVersion: "containerRuntimeVersion"
          kernelVersion: "kernelVersion"
          kubeletVersion: "kubeletVersion"
          operatingSystem: "operatingSystem"
          architecture: "architecture"
        machineName: "machineName"
        capacity:
          memory: "memory"
          cpu: "cpu"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/handler"
  Datacenter:
    type: "object"
    properties:
      metadata:
        $ref: "#/definitions/ObjectMeta"
      seed:
        type: "boolean"
        x-go-name: "Seed"
      spec:
        $ref: "#/definitions/DatacenterSpec"
    title: "Datacenter is the object representing a Kubernetes infra datacenter."
    example:
      metadata:
        creationTimestamp: "2000-01-23T04:56:07.000+00:00"
        name: "name"
        id: "id"
        deletionTimestamp: "2000-01-23T04:56:07.000+00:00"
      seed: true
      spec:
        country: "country"
        seed: "seed"
        vsphere:
          cluster: "cluster"
          endpoint: "endpoint"
          datastore: "datastore"
          templates: null
          datacenter: "datacenter"
        hetzner:
          datacenter: "datacenter"
          location: "location"
        provider: "provider"
        bringyourown: {}
        location: "location"
        openstack:
          availability_zone: "availability_zone"
          images: {}
          auth_url: "auth_url"
          region: "region"
        aws:
          region: "region"
        digitalocean:
          region: "region"
        azure:
          location: "location"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  DatacenterList:
    type: "array"
    description: "DatacenterList represents a list of datacenters"
    items:
      $ref: "#/definitions/Datacenter"
    x-go-package: "github.com/kubermatic/kubermatic/api/pkg/api/v1"
  DatacenterSpec:
    type: "object"
    properties:
      aws:
        $ref: "#/definitions/AWSDatacenterSpec"
      azure:
        $ref: "#/definitions/AzureDatacenterSpec"
      bringyourown:
        $ref: "#/definitions/BringYourOwnDatacenterSpec"
      country:
        type: "string"
        x-go-name: "Country"
      digitalocean:
        $ref: "#/definitions/DigitialoceanDatacenterSpec"
      hetzner:
        $ref: "#/definitions/HetznerDatacenterSpec"
      location:
        type: "string"
        x-go-name: "Location"
      openstack:
        $ref: "#/definitions/OpenstackDatacenterSpec"
      provider:
        type: "string"
        x-go-name: "Provider"
      seed:
        type: "string"
        x-go-name: "Seed"
      vsphere:
        $ref: "#/definitions/VSphereDatacenterSpec"
    title: "DatacenterSpec specifies the data for a datacenter."
    example:
      country: "country"
      seed: "seed"
      vsphere:
        cluster: "cluster"
        endpoint: "endpoint"
        datastore: "datastore"
        templates: null
        datacenter: "datacenter"
      hetzner:
        datacenter: "datacenter"
        location: "location"
      provider: "provider"
      bringyourown: {}
[...]
